<% include ./partials/header %>


<div id="welcome">
    <h2 id="title">Music App</h2>
    <h4 id="subtitle">Register or Login to Start Listening.</h4>
    <div id="showcase-btns">
        <button type="button" class="btn btn-success">Get Started!</button>
    </div>
</div>



<% include ./partials/footer %>