body{
     background: #1D4350;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A43931, #1D4350);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A43931, #1D4350); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

} 

.navbar {
   background: transparent;
   border-color: transparent;
   font-size: 1.2em;
   padding: 10px;
}

.navbar .navbar-brand{
    font-size: 1.2em;
}

.navbar li { color: #000 }

.nav-item-right{
    padding-left: 10px;

}

.navbar{
        border: none;
        border-radius: 0;
        background-color: rgba(0,0,0,0.5);
}

footer{
    background-color:black;
}

.nav-item-left{
    padding-right: 10px;
}


.carousel{
    margin-left: 25%;
    top: -9%;
    width: 330px;
    height: 330px;
}


#signup-heading{
    text-align: center;
    color:white;
    letter-spacing: 3px;
    margin-bottom: 20px;
    text-shadow: 2px 2px #4d4d4d;
}

#signup-page{
    top: 40%;
    left: 40%;
}

.jumbtron .container{
    border-radius: 0px;
}


#first-section{
    left: 0%;
    right: 0%;
    padding-top: 11%;
   background: #1D4350;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A43931, #1D4350);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A43931, #1D4350); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#second-section{
    padding-top: 7%;
    padding-bottom: 7%;
    text-align: center;
    margin-bottom: 0px;
}

#third-section{
    margin-bottom: 0px;
    text-align: center;
    color:white;
   background: #1D4350;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A43931, #1D4350);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A43931, #1D4350); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.third-section-header{
    text-shadow: 2px 2px #4d4d4d;
}

#fourth-section{
    margin-bottom: 0px;
   background-color: black;
   color: white;
   padding-top: 10px;
   padding-bottom: 10px;
}

#copyright{
    padding-top: 10px;
}

#first-info{
    font-family: Oxygen;
    letter-spacing: 2px;
}

#p-info{
    padding-top: 10%;
}

.jumbotron .third-info{
    background-color: transparent !important;
}

#title{
    text-align: center;
    font-family: "Oxygen";
    font-weight: bold;
    letter-spacing: 3px;
    color:white;
    text-shadow: 2px 2px #4d4d4d;
}

#subtitle{
    text-align: center;
    margin-top: 15px;
    font-family: Montserrat;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    text-shadow: 2px 2px #4d4d4d;
}

#showcase-btns{
    padding:20px;
    margin-left: 25%;
    text-align: center;
    width: 50%;
}

#signup{
    padding-top: 200px;
    width: 30%;
    margin: 30px auto;
}




.btn-space{
    margin-right: 10px;
    margin-left: 5px;
    
}

.form-btns{
    padding-top: 50px;
}

.btn .btn-primary{
    border: 2px solid rgba(91, 192, 222, 0.75);
  border-radius: 40px;
}